<a href="https://colab.research.google.com/github/b15145456/1st-DL-CVMarathon/blob/main/Day_005_1_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [8]:
np.random.randint(10,size=10)
nations = ['a','b','c','d','e']
people_list = np.random.randint(100000,size=5)
data = {'國家': nations,
        '人口':people_list}
data = pd.DataFrame(data)
data

  國家     人口
0  a  84174
1  b  32773
2  c   2286
3  d  85791
4  e  63974

In [9]:
data['人口'].max()

85791

In [10]:
data.loc[ data['人口']==data['人口'].max(),'國家' ]

3    d
Name: 國家, dtype: object