<a href="https://colab.research.google.com/github/b15145456/1st-DL-CVMarathon/blob/main/Day_004_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [ ]:
# 設定 data_path
dir_data = './data/'

In [14]:
f_app = os.path.join('HomeCredit_columns_description.csv')
# print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app, encoding = 'ISO-8859-1')

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [29]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   219 non-null    int64
 1   Table        219 non-null    object
 2   Row          219 non-null    object
 3   Description  219 non-null    object
 4   Special      86 non-null     object
dtypes: int64(1), object(4)
memory usage: 8.7+ KB

#### 列出所有欄位

In [25]:
for x in app_train.columns:
  print(x)

Unnamed: 0
Table
Row
Description
Special

#### 截取部分資料

In [30]:
app_train.head()

   Unnamed: 0  ... Special
0           1  ...     NaN
1           2  ...     NaN
2           5  ...     NaN
3           6  ...     NaN
4           7  ...     NaN

[5 rows x 5 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子